

.container-contact{
    @extend .flex-center;
    padding: 100px 0;
    @include mobile-portrait-resolution{
        padding: 0;
    }

    &__section{
        background-color: $color-white;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        border: solid 3px $color-black;
        border-radius: 25px;

        @include tablet-resolution{
            width: 80%;
            align-items: start;
            height: 100%;
        }
        @include mobile-portrait-resolution{
            width: 100%;
            border: none;  
            border-radius: 0px;
        }

        &__title {
            padding: 50px;
            font-size: 2.5rem;

            @include tablet-resolution {
                width: 100%;
                text-align: center;
                
            }
            @include mobile-landscape-resolution {
                font-size: 1.8rem;
            }
            @include mobile-portrait-resolution {
                background-color: $color-black;
                color: $color-white;
            }
        }

        &__form {
            width: 90%;
            margin-right: 5%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: .5fr .5fr .5fr .5fr 1fr .5fr .5fr;
            grid-template-areas: 
            "name"
            "mail"
            "consult-type"
            "subscribe"
            "comments"
            "reset"
            "send";
            padding: 0 40px 40px 40px;
            font-weight: 700;
            line-height: 1.5rem;
        
            @include mobile-landscape-resolution{
                padding: 20px;
            }

            &__form-name{
                grid-area: name;
                & .form-input{
                    width: 80%;
                    padding: 12px 5px;
                    border: none;
                    border-bottom: solid 2px $color-black;
                    outline: none;
                }
            }
            
            &__form-mail{
                grid-area: mail;
                & .form-input{
                    width: 80%;
                    padding: 12px 5px;
                    border: none;
                    border-bottom: solid 2px $color-black;
                    outline: none;
                }
            }

            &__form-consult{
                grid-area: consult-type;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__form-consult select{
                width: fit-content;
                padding: 5px;
            }

            &__form-checkbox{
                grid-area: subscribe;
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: 1400px){
                    width: 75%;
                }
                @include tablet-resolution {
                    width: 50vw;
                }
                @include mobile-landscape-resolution {
                    width: 90vw;
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include mobile-portrait-resolution{
                    margin-bottom: 20px;
                }
            }

            &__form-comments{
                grid-area: comments;
                & textarea {
                    margin: 10px 0 10px 0;
                    padding: 8px;
                    width: 85%;
                    resize: none;
    
                    @include mobile-landscape-resolution{
                        width: 60%;
                    }
                    @include mobile-portrait-resolution{
                        width: 85%;
                    }
                }
            }
            
            &__reset-button {
                grid-area: reset;
                min-width: fit-content;
                background-color: #747272;
                color: #ffffff;
                width: 220px;
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 1rem;

                &:hover {
                    background-color: #928f8f;
                    cursor: pointer; 
                }

                &:active{
                    transform: translate(0px, 4px);
                }

                @include tablet-resolution {
                    height: 40px;
                    width: 200px;
                    padding: 3px 12px; 
                }
            }

            &__send-button {
                grid-area: send;
                background-color: #3a3a3a;
                color: #ffffff;
                width: 120px;
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 1rem;

                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                    cursor: pointer;
                }

                &:active {
                    transform: translate(0px, 4px);
                }

                @include tablet-resolution {
                    height: 40px;
                    width: 120px;
                    padding: 3px 8px; 
                }
            }
        }
    }
}

.faq-banner {
    @extend .flex-center;
    background-color: #000000c4;

    &__title{
        font-size: 5rem;
        color: $color-white;
    }
}

.faq-container {
    width:80%;
    margin: 0 auto;
    padding: 50px 0;
    &__faq-q{
        font-size: 1.2rem;
        font-weight: 700;
    }
    &__faq-a{
        width:90%;
        line-height: 2rem;
    }
    &__faq-ul{
        list-style-type: square;
        & li{
            width: 80%;
            line-height: 2rem;
        }
    }
}













































