

.main-container__contact{
    display: flex;
    justify-content: center;
    align-items: center;

    & .contact-section{
        background-color: $color-white;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        border-right: solid 3px $color-black;
        border-left: solid 3px $color-black;

        @include tablet-view{
            width: 70%;
            align-items: start;
            height: 100%;
        }
        @include mobile-portrait-view{
            width: 100%;
            border-left: none;
            border-right: none;
        }

        &__form-title {
            padding: 50px;
            font-size: 2.5rem;

            @include tablet-view {
                margin: auto;
            }
            @include mobile-landscape-view {
                font-size: 1.8rem;
                padding: 60px 0px 40px 15px;
            }
        }

        &__form {
            width: 90%;
            margin-right: 5%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: .5fr .5fr .5fr .5fr 1fr .5fr .5fr;
            grid-template-areas: 
            "name"
            "mail"
            "consult-type"
            "subscribe"
            "comments"
            "reset"
            "send";
            padding: 0 40px 40px 40px;
            font-weight: 700;
            line-height: 1.5rem;
        
            @include mobile-landscape-view{
                padding: 20px;
            }

            & .form-name{
                grid-area: name;
                & .form-input{
                    width: 60%;
                    padding: 12px 5px;
                    border: none;
                    border-bottom: solid 2px $color-black;
                    outline: none;
                }
            }
            
            & .form-mail{
                grid-area: mail;
                & .form-input{
                    width: 60%;
                    padding: 12px 5px;
                    border: none;
                    border-bottom: solid 2px $color-black;
                    outline: none;
                }
            }

            & .form-consult{
                grid-area: consult-type;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            & .form-consult select{
                width: fit-content;
                padding: 5px;
            }

            & .form-checkbox{
                grid-area: subscribe;
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: 1400px){
                    width: 75%;
                }
                @include tablet-view {
                    width: 50vw;
                }
                @include mobile-landscape-view {
                    width: 90vw;
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include mobile-portrait-view{
                    margin-bottom: 20px;
                }
            }

            & .form-comments{
                grid-area: comments;
            }

            & .form__text-area{
                margin: 10px 0 10px 0;
                padding: 8px;
                width: 85%;
                resize: none;

                @include mobile-landscape-view{
                    width: 60%;
                }
                @include mobile-portrait-view{
                    width: 85%;
                }
            }
            
            & .form__reset-button {
                grid-area: reset;
                min-width: fit-content;
                background-color: #747272;
                color: #ffffff;
                width: 220px;
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 1rem;

                &:hover {
                    background-color: #928f8f;
                    cursor: pointer; 
                }

                &:active{
                    transform: translate(0px, 4px);
                }

                @include tablet-view {
                    height: 40px;
                    width: 200px;
                    padding: 3px 12px; 
                }
            }

            & .form__send-button {
                grid-area: send;
                background-color: #3a3a3a;
                color: #ffffff;
                width: 120px;
                height: 40px;
                border-radius: 8px;
                border: none;
                font-size: 1rem;

                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                    cursor: pointer;
                }

                &:active {
                    transform: translate(0px, 4px);
                }

                @include tablet-view {
                    height: 40px;
                    width: 120px;
                    padding: 3px 8px; 
                }
            }
        }
    }
}













































