.main {
    height: 100%;
    background-color: $color-main;

    & .main-row{
        background-color: $color-main; 

        @media screen and (min-width: 992px){
                height: 83vh;  
        }
    }
}


/* LEFT SIDE SECTION */

.left-side{
    background-color: $color-main; 
    height: 100%;

    @media screen and (min-width: 769px) and (max-width: 991px){
            background-color: #000000c7; 
    }

    /* main-image*/

    & .main-img{
        width: 400px;
        height: 400px;
        margin: auto;
        border-radius: 50px;
    
        @media screen and (min-width: 769px) and (max-width: 991px){
            margin: 50px 0px;  
        }
    
        @include mobile-landscape-view {
            border-radius: 0px;
            width: 100%;
            height: 100%;
            border-bottom: 3px solid #000000; 
        }
    }
}


/* RIGH SIDE SECTION */

.right-side{
    background-color: #e2a694;
    height: 100%; 
    padding: 50px 25px;

    & .main-title{
        font-size: 5rem;
        margin-bottom: 35px;
        text-align: center;
    }

    & .main-text{
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 0 25px 0 25px;
    }
    
}










