.about-title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
}

.about-img{
    border-radius: 50%;
}

.about-description{
    font-size: 1rem;
    line-height: 2rem;
    width: 80%;
}

.location-img{
    width: 100%;
}

.payments-img{
    width: 100%;
}

.logo-mastercard{
    width: 100px;
}

.logo-visa{
    width: 100px;
}

.logo-mercadopago{
    width: 100px;
}

.columna-1, .columna-2, .columna-3{
    background-color: #000000a1;
}

.findus-titles{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

.payments-subtitles{
    padding: 25px 0px;
    color: #ffffff;
    font-weight: 700;
}

.findus-text {
    color: #ffffff;
    padding: 15px;
    line-height: 2rem;
}
