.title-container{
    background-color: map-get($colors, Transparency-bg);
    color: map-get($colors, Text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    &__title {
        width: fit-content; 
        font-size: 15rem;

        @include mobile-landscape-resolution{
            font-size: 10rem;
        }

        @include mobile-portrait-resolution{
            font-size: 5rem;
        }
    }
}

.products-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-around;
}    















