.title-container{
    background-color: map-get($colors, Transparency-bg);
    color: map-get($colors, Text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    &__title {
        width: fit-content; 
        font-size: 15rem;

        @include mobile-landscape-view{
            font-size: 10rem;
        }

        @include mobile-portrait-view{
            font-size: 5rem;
        }
    }
}

.products-section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-around;
}    

//     @include tablet-view {   
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: repeat(auto, 1fr);
//     }
//     @include mobile-landscape-view {                  
//         grid-template-columns: 1fr;
//         grid-template-rows: repeat(auto, .5fr);
//     }
//     @include mobile-portrait-view{
//         padding: 50px 20px;
//     }
// }













