.main-html{
    background-color: $color-main;
}

.carousel-item img {
    height: 50vh;
    object-fit: cover;
}

.container-newstitle {
    @extend .flex-center;
    height: 15vh;
    background-color: #000000c4;
    &__newstitle{
        font-size: 6rem;
        color: $color-white;
        @include tablet-view{
            font-size: 5rem;
        }
        @include mobile-landscape-view{
            font-size: 3rem;
        }
        @include mobile-portrait-view{
            font-size: 2.3rem;
        }
    }
}

.newproduct-container {
    display: flex;
    @include tablet-view {
        flex-direction: column;
    }

    &__carousel {
        justify-content: center;
        width: 60%;
        @include tablet-view {
            width: 100%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-main; 
        width: 40%;
        @include tablet-view {
            width: 100%;
        }
        &__title {
            color: $color-black;
            padding: 2rem;
            font-size: 3rem;
            font-weight: 400;
            text-align: center;
        }
        &__description{
            color: $color-black;
            padding: 2rem;
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}

.section-offers{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-around;
}



