.container-footer{
    height: 95px;
    background-color: $color-black;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-resolution {   
            min-height: 90px;
        }

    @include mobile-landscape-resolution {    
        flex-direction: column;
        height: 200px;
        justify-content: space-evenly;
    } 
    &__copyright{
        margin: 0 35px;
    } 
    &__social{
        width: 35%;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 40px;
        @include mobile-landscape-resolution {    
            flex-direction: column;
            height: 110px;
            width: 100%;
            justify-content: space-between;
        }
        &__text{
            margin-bottom: 0;
            @include mobile-landscape-resolution {
                margin-bottom: 16px;
            }
        }
        &__icons{
            width: 200px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            & i {
                font-size: 2.5rem;
                color: $color-black;
                background-color: $color-white;
                border-radius: 50%;
                padding: 2.5px;
                &:hover{
                    background-color: #f8b8a5fa;
                }
            }
        }
    }
}
    

    

        

            
   

