.footer-container{
    height: 95px;
    background-color: $color-black;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile-landscape-resolution {    
        flex-direction: column;
        height: 200px;
        padding: 10px;
        justify-content: space-evenly;
    }
    &__text{
        margin: 0;
    }
    &__icons{
        width: 200px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0;
        & i {
            font-size: 2.5rem;
            color: $color-black;
            background-color: $color-white;
            border-radius: 50%;
            padding: 2.5px;
            transition: transform .5s;
            &:hover{
                background-color: #f8b8a5fa;
                transform: translate(0,-8px);
            }
            &:active{
                scale: 1.1;
            }
        }
    } 
    &__copyright{
        margin: 0;
    }
} 