.navigator-bar{
    border-bottom: solid 3px $color-black;
}

.logo-img {
    height: 48px;
    margin-left: 12px;
}

.nav-link{
    text-align: center;
    @media screen and (max-width: 991px){
        &:hover{
            background-color: #e2a69485;
        }
    }
}

.navbar-toggler-icon{
    background-image: url("../../img/bars-solid.svg");
}

.navbar-toggler{
    border: 0;
    transition: all .5s;
    &:focus{
        outline: 0;
        background-color: $color-main;
        box-shadow: 0 0 0 0;
        .navbar-toggler-icon{
            background-image: url("../../img/xmark-solid.svg");}
    }
    &:active{
        scale: 1.1;
    }
}




