.navigator-bar{
    border-bottom: solid 3px $color-black;
}

.logo-img {
    height: 48px;
    margin-left: 12px;
}

.nav-link{
    text-align: center;
    
    @media screen and (max-width: 991px){
        &:hover{
            background-color: #e2a69485;
        }
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
    border: 0;
    
    &:focus{
        outline: 0;
        background-color: $color-main;
        box-shadow: 0 0 0 0;
    }
    &:active{
        scale: 1.1;
    }
}




