
/* Index - CTA Button*/

.shop-btn{
    display: inline-block;
    width: fit-content;
    margin: 50px auto;
    font-size: 1.2rem;
    text-decoration: none;
    border: 5px solid #971154;
    text-align: center;
    color: $color-white;
    background-color: #741745;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 3px 3px #30081c;;
    transition: transform .2s, box-shadow .2s;

    &:hover {
        background-color: #e42585;
    }

    &:active {
        transform: translate(5px, 5px);
        box-shadow: 0px 0px;
    }

    &:visited {
        color: $color-white;
    }
}

/* Cards - Buy Button*/

.buy-btn{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    color: $color-white;
    background-color: #3a3a3a;
    transition: all 200ms;

    &:hover{
        background-color: #161616;
    }
    
    &:active {
        transform: translate(4px,4px);
    }
}

