
/* Cards - Products */

.product-card{
    background-color: #ffffffc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    &:hover{
        box-shadow: 2px 2px 25px rgba(97, 96, 96, 0.829);
    }

    & .product-name{
        width: max-content;
        padding: 25px;
    }
    & .product-img{
        width: 70%;
        border-radius: 5px;
    }
    
    & .product-description{
        width: 70%;
        padding: 25px 0px 25px 8px;
    }
}