/* Display flex centrado */
.flex-center, .container-error, .container-header, .faq-banner, .container-contact__section__form__form-checkbox input, .container-contact, .container-about__container-description, .container-about__container-img, .container-title, .container-newstitle, .main-index__content-section, .main-index__picture-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries mixins */ /* Map paleta de colores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.navigator-bar {
  border-bottom: solid 3px #0c0c0c;
}

.logo-img {
  height: 48px;
  margin-left: 12px;
}

.nav-link {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .nav-link:hover {
    background-color: rgba(226, 166, 148, 0.5215686275);
  }
}

.navbar-toggler {
  height: 20px;
  width: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #0c0c0c;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s;
}

.navbar-toggler .top-bar {
  margin-top: 0;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: #e2a694;
}

.container-footer {
  height: 95px;
  background-color: #0c0c0c;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    height: 200px;
    padding: 10px;
    justify-content: space-evenly;
  }
}
.container-footer__text {
  margin: 0;
}
.container-footer__icons {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container-footer__icons i {
  font-size: 2.5rem;
  color: #0c0c0c;
  background-color: #fff;
  border-radius: 50%;
  padding: 2.5px;
  transition: transform 0.5s;
}
.container-footer__icons i:hover {
  background-color: rgba(248, 184, 165, 0.9803921569);
  transform: translate(0, -8px);
}
.container-footer__icons i:active {
  scale: 1.1;
}
.container-footer__copyright {
  margin: 0;
}

.main-index {
  display: flex;
  flex-direction: row;
  background-color: #e2a694;
  min-height: 85vh;
}
@media screen and (max-width: 1024px) {
  .main-index {
    flex-direction: column;
    height: fit-content;
  }
}
.main-index__picture-section {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .main-index__picture-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.768627451);
  }
}
@media screen and (max-width: 478px) {
  .main-index__picture-section {
    background-color: #e2a694;
  }
}
.main-index__picture-section__img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}
@media screen and (max-width: 1024px) {
  .main-index__picture-section__img {
    margin: 50px;
  }
}
@media screen and (max-width: 768px) {
  .main-index__picture-section__img {
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #000000;
  }
}
.main-index__content-section {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .main-index__content-section {
    width: 100%;
    margin: 50px 0px;
  }
}
@media screen and (max-width: 478px) {
  .main-index__content-section {
    padding: 25px 0;
  }
}
.main-index__content-section__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-index__content-section__content__main-title {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  margin-bottom: 35px;
  text-align: center;
}
.main-index__content-section__content__main-subtitle {
  font-size: 1.5rem;
  margin-bottom: 35px;
  text-align: center;
}
.main-index__content-section__content__main-description {
  padding: 0;
  list-style-type: none;
}
.main-index__content-section__content__main-description li {
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 25px 0 25px;
}

main {
  background-color: #e2a694;
}

.carousel-item img {
  height: 50vh;
  object-fit: cover;
}

.container-newstitle {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.768627451);
}
.container-newstitle__newstitle {
  font-size: 7rem;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .container-newstitle__newstitle {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .container-newstitle__newstitle {
    font-size: 3rem;
  }
}
@media screen and (max-width: 478px) {
  .container-newstitle__newstitle {
    font-size: 2.3rem;
  }
}

.newproduct-container {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .newproduct-container {
    flex-direction: column;
  }
}
.newproduct-container__carousel {
  justify-content: center;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .newproduct-container__carousel {
    width: 100%;
  }
}
.newproduct-container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2a694;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .newproduct-container__content {
    width: 100%;
  }
}
.newproduct-container__content__title {
  color: #0c0c0c;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .newproduct-container__content__title {
    margin-top: 2rem;
  }
}
.newproduct-container__content__description {
  color: #0c0c0c;
  padding: 2rem;
  font-size: 1rem;
  line-height: 2rem;
}

.promos {
  background-color: #e2a694;
}

.section-offers {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: space-around;
}

.gallery {
  background-color: #e2a694;
}
.gallery__wrapper {
  margin: 0 auto;
  padding: 100px 0;
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "img-1 img-2 img-2" "img-3 img-4 img-5" "img-3 img-6 img-7" "img-8 img-8 img-9";
}
@media screen and (max-width: 1024px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img-1 img-9" "img-2 img-2" "img-3 img-4" "img-3 img-5" "img-6 img-7" "img-8 img-8";
  }
}
@media screen and (max-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9";
  }
}
.gallery__wrapper__img-div:nth-child(1) {
  grid-area: img-1;
}
.gallery__wrapper__img-div:nth-child(2) {
  grid-area: img-2;
}
.gallery__wrapper__img-div:nth-child(3) {
  grid-area: img-3;
}
.gallery__wrapper__img-div:nth-child(4) {
  grid-area: img-4;
}
.gallery__wrapper__img-div:nth-child(5) {
  grid-area: img-5;
}
.gallery__wrapper__img-div:nth-child(6) {
  grid-area: img-6;
}
.gallery__wrapper__img-div:nth-child(7) {
  grid-area: img-7;
}
.gallery__wrapper__img-div:nth-child(8) {
  grid-area: img-8;
}
.gallery__wrapper__img-div:nth-child(9) {
  grid-area: img-9;
}
.gallery__wrapper__img-div img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.title-container__title {
  width: fit-content;
  font-size: 15rem;
}
@media screen and (max-width: 768px) {
  .title-container__title {
    font-size: 10rem;
  }
}
@media screen and (max-width: 478px) {
  .title-container__title {
    font-size: 5rem;
  }
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: space-around;
}

.container-title__title {
  padding: 50px 0px 25px 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}
@media screen and (max-width: 478px) {
  .container-title__title {
    font-size: 2.5rem;
  }
}

.container-about {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .container-about {
    flex-direction: column;
  }
}
.container-about__container-img {
  width: 40%;
  margin: 25px 0 50px 0;
}
@media screen and (max-width: 1024px) {
  .container-about__container-img {
    width: 100%;
  }
}
.container-about__container-img img {
  border-radius: 50%;
}
.container-about__container-description {
  width: 60%;
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .container-about__container-description {
    width: 100%;
  }
}
.container-about__container-description p {
  font-size: 1rem;
  line-height: 2rem;
  width: 80%;
  text-align: justify;
}

.find-us {
  display: flex;
  background-color: #e2a694;
}
@media screen and (max-width: 1024px) {
  .find-us {
    flex-direction: column;
  }
}
.find-us section {
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #fff;
  width: 33.3333333333%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .find-us section {
    width: 100%;
  }
}
.find-us section h2, .find-us section h3 {
  text-align: center;
}

.section-findus__title {
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .section-findus__title {
    margin-top: 25px;
  }
}
.section-findus p {
  line-height: 2rem;
  padding: 25px;
  text-align: justify;
}

.section-payments {
  align-items: center;
}
.section-payments__title {
  font-weight: 700;
}
.section-payments__img {
  width: 100%;
  border-radius: 10px;
  margin: 1.5rem 0;
}
.section-payments__logos-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .section-payments__logos-container {
    flex-direction: column;
    align-items: center;
  }
}
.section-payments__logos-container img {
  width: 100px;
}

.section-location {
  align-items: center;
}
.section-location__title {
  font-weight: 700;
}
.section-location iframe {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
}
@media screen and (max-width: 1024px) {
  .section-location iframe {
    width: 90%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 478px) {
  .section-location iframe {
    width: 100%;
  }
}

html {
  min-width: 300px;
}

.container-contact {
  padding: 100px 0;
}
@media screen and (max-width: 478px) {
  .container-contact {
    padding: 0;
  }
}
.container-contact__section {
  background-color: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px #0c0c0c;
  border-radius: 25px;
}
@media screen and (max-width: 1024px) {
  .container-contact__section {
    width: 80%;
    align-items: start;
    height: 100%;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section {
    width: 100%;
    border: none;
    border-radius: 0px;
  }
}
.container-contact__section__title {
  padding: 50px;
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .container-contact__section__title {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container-contact__section__title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__title {
    background-color: #0c0c0c;
    color: #fff;
  }
}
.container-contact__section__form {
  width: 90%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px 40px;
  font-weight: 700;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form {
    padding: 20px;
    margin: 0;
    width: 100%;
  }
}
.container-contact__section__form__form-name {
  display: flex;
  flex-direction: column;
}
.container-contact__section__form__form-name input {
  width: 80%;
  padding: 12px 5px;
  border: none;
  border-bottom: solid 2px #0c0c0c;
  outline: none;
  margin-bottom: 2rem;
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__form-name input {
    width: 100%;
  }
}
.container-contact__section__form__form-mail {
  display: flex;
  flex-direction: column;
}
.container-contact__section__form__form-mail input {
  width: 80%;
  padding: 12px 5px;
  border: none;
  border-bottom: solid 2px #0c0c0c;
  outline: none;
  margin-bottom: 2rem;
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__form-mail input {
    width: 100%;
  }
}
.container-contact__section__form__form-consult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
}
.container-contact__section__form__form-consult select {
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}
.container-contact__section__form__form-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 0;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-checkbox {
    flex-direction: column;
    align-items: flex-start;
  }
}
.container-contact__section__form__form-checkbox label {
  margin: 0 25px;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-checkbox label {
    order: 1;
    margin: 0;
  }
}
.container-contact__section__form__form-checkbox input {
  appearance: none;
  height: 50px;
  min-width: 50px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  animation-name: check-beating;
  animation-delay: 1s;
  animation-duration: 2s;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-checkbox input {
    order: 2;
    margin: 25px 0 0 0;
  }
}
.container-contact__section__form__form-checkbox input:hover {
  background-color: #aca9a9;
  scale: 1.1;
}
.container-contact__section__form__form-checkbox input:checked {
  background-color: #e2a694;
}
.container-contact__section__form__form-checkbox input::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 40px;
  color: #fff;
  display: none;
}
.container-contact__section__form__form-checkbox input:checked::after {
  display: block;
}
@keyframes check-beating {
  25% {
    scale: 1.2;
    background-color: #e2a694;
  }
  50% {
    scale: 1;
    background-color: #d5d5d5;
  }
  75% {
    scale: 1.2;
    background-color: #e2a694;
  }
  100% {
    scale: 1;
    background-color: #d5d5d5;
  }
}
.container-contact__section__form__form-comments {
  display: flex;
  flex-direction: column;
}
.container-contact__section__form__form-comments textarea {
  margin: 10px 0 10px 0;
  padding: 8px;
  width: 80%;
  resize: none;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-comments textarea {
    width: 90%;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__form-comments textarea {
    width: 100%;
  }
}
.container-contact__section__form__reset-button {
  min-width: fit-content;
  color: #0c0c0c;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #747272;
  font-size: 1rem;
  margin: 50px 0;
}
.container-contact__section__form__reset-button:hover {
  background-color: #cec9c9;
  cursor: pointer;
}
.container-contact__section__form__reset-button:active {
  transform: translate(0px, 4px);
}
@media screen and (max-width: 1024px) {
  .container-contact__section__form__reset-button {
    height: 40px;
    width: 200px;
    padding: 3px 12px;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__reset-button {
    width: 100%;
    padding: 6px 12px;
  }
}
.container-contact__section__form__send-button {
  background-color: #3a3a3a;
  color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  margin: 45px 0 0 0;
}
.container-contact__section__form__send-button:hover {
  background-color: #0c0c0c;
  color: #fff;
  cursor: pointer;
}
.container-contact__section__form__send-button:active {
  transform: translate(0px, 4px);
}
@media screen and (max-width: 1024px) {
  .container-contact__section__form__send-button {
    height: 40px;
    width: 120px;
    padding: 3px 8px;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__send-button {
    width: 100%;
    padding: 6px 12px;
  }
}

.faq-banner {
  background-color: rgba(0, 0, 0, 0.768627451);
}
.faq-banner__title {
  font-size: 5rem;
  color: #fff;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
.faq-container__faq-q {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
}
.faq-container__faq-a {
  line-height: 2rem;
}
.faq-container__faq-ul {
  list-style-type: square;
}
.faq-container__faq-ul li {
  text-justify: auto;
  line-height: 2rem;
}

.error-main {
  overflow-x: hidden;
}

.container-header {
  min-height: 50vh;
  align-items: flex-end;
}
.container-header__title {
  height: fit-content;
  font-size: 18rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 768px) {
  .container-header__title {
    font-size: 16rem;
  }
}
@media screen and (max-width: 478px) {
  .container-header__title {
    font-size: 12rem;
    padding: 0 10px;
  }
}

.container-error {
  min-height: 50vh;
  width: 100vw;
  padding: 3rem 5vw;
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #fff;
  justify-content: flex-start;
  flex-direction: column;
}
.container-error__subtitle {
  font-size: 3rem;
  text-align: center;
  line-height: 3.5rem;
  font-size: 400;
}
@media screen and (max-width: 768px) {
  .container-error__subtitle {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 478px) {
  .container-error__subtitle {
    font-size: 2.5rem;
  }
}
.container-error__text {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .container-error__text {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 478px) {
  .container-error__text {
    font-size: 1.1rem;
  }
}
.container-error__text a {
  text-decoration: none;
  color: #e2a694;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .container-error__text a {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 478px) {
  .container-error__text a {
    font-size: 1.1rem;
  }
}
.container-error__text a:hover {
  text-decoration: underline;
}

/* Index - CTA Button*/
.shop-btn {
  display: inline-block;
  width: fit-content;
  margin: 50px auto;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #d81b7a;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 3px 3px #30081c;
  transition: transform 0.2s, box-shadow 0.2s;
  animation-name: beating;
  animation-delay: 2s;
  animation-duration: 2s;
}
@media screen and (max-width: 478px) {
  .shop-btn {
    animation-delay: 1s;
  }
}
@keyframes beating {
  25% {
    scale: 1.2;
    background-color: #971154;
  }
  50% {
    scale: 1;
    background-color: #d81b7a;
  }
  75% {
    scale: 1.2;
    background-color: #971154;
  }
  100% {
    scale: 1;
    background-color: #d81b7a;
  }
}
.shop-btn:hover {
  background-color: #971154;
}
.shop-btn:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}
.shop-btn:visited {
  color: #fff;
}

/* Cards - Buy Button*/
.buy-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: #fff;
  background-color: #3a3a3a;
  transition: all 200ms;
}
.buy-btn:hover {
  background-color: #161616;
  color: #fff;
}
.buy-btn:active {
  transform: translate(4px, 4px);
}

/* Cards - Products */
.product-card {
  background-color: rgba(255, 255, 255, 0.7803921569);
  padding: 1rem;
  max-width: 350px;
  max-height: 550px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}
.product-card:hover {
  box-shadow: 2px 2px 25px rgba(97, 96, 96, 0.8274509804);
  scale: 1.1;
}
@media screen and (max-width: 478px) {
  .product-card:hover {
    scale: 1;
    box-shadow: 0;
  }
}
.product-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}
.product-card__img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.product-card__description {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.product-card__btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #3a3a3a;
  transition: all 200ms;
}
.product-card__btn:hover {
  background-color: #161616;
}
.product-card__btn:active {
  transform: translate(4px, 4px);
}

.offer {
  position: relative;
}
.offer h4 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
