/* Display flex centrado */
.flex-center, .faq-banner, .container-contact, .container-about__container-description, .container-about__container-img, .container-title, .container-newstitle, .home-container__content-section, .home-container__picture-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries mixins */ /* Map paleta de colores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.navigator-bar {
  border-bottom: solid 3px #000000;
}

.logo-img {
  height: 48px;
  margin-left: 12px;
}

.nav-link {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .nav-link:hover {
    background-color: rgba(226, 166, 148, 0.5215686275);
  }
}

.container-footer {
  height: 95px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .container-footer {
    min-height: 90px;
  }
}
@media screen and (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
  }
}
.container-footer__copyright {
  margin: 0 35px;
}
.container-footer__social {
  width: 35%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 40px;
}
@media screen and (max-width: 768px) {
  .container-footer__social {
    flex-direction: column;
    height: 110px;
    width: 100%;
    justify-content: space-between;
  }
}
.container-footer__social__text {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .container-footer__social__text {
    margin-bottom: 16px;
  }
}
.container-footer__social__icons {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-footer__social__icons i {
  font-size: 2.5rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 2.5px;
}
.container-footer__social__icons i:hover {
  background-color: rgba(248, 184, 165, 0.9803921569);
}

.main-index {
  background-color: #e2a694;
}

.home-container {
  display: flex;
  flex-direction: row;
  background-color: #e2a694;
  min-height: 85vh;
}
@media screen and (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    height: fit-content;
  }
}
.home-container__picture-section {
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .home-container__picture-section {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.768627451);
  }
}
@media screen and (max-width: 478px) {
  .home-container__picture-section {
    background-color: #e2a694;
  }
}
.home-container__picture-section__img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}
@media screen and (max-width: 1024px) {
  .home-container__picture-section__img {
    margin: 50px;
  }
}
@media screen and (max-width: 768px) {
  .home-container__picture-section__img {
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #000000;
  }
}
.home-container__content-section {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .home-container__content-section {
    width: 100%;
    margin: 50px 0px;
  }
}
.home-container__content-section__content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-container__content-section__content__main-title {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  margin-bottom: 35px;
  text-align: center;
}
.home-container__content-section__content__main-subtitle {
  font-size: 1.5rem;
  margin-bottom: 35px;
  text-align: center;
}
.home-container__content-section__content__main-text {
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 25px 0 25px;
}

main {
  background-color: #e2a694;
}

.carousel-item img {
  height: 50vh;
  object-fit: cover;
}

.container-newstitle {
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.768627451);
}
.container-newstitle__newstitle {
  font-size: 7rem;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .container-newstitle__newstitle {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .container-newstitle__newstitle {
    font-size: 3rem;
  }
}
@media screen and (max-width: 478px) {
  .container-newstitle__newstitle {
    font-size: 2.3rem;
  }
}

.newproduct-container {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .newproduct-container {
    flex-direction: column;
  }
}
.newproduct-container__carousel {
  justify-content: center;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .newproduct-container__carousel {
    width: 100%;
  }
}
.newproduct-container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2a694;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .newproduct-container__content {
    width: 100%;
  }
}
.newproduct-container__content__title {
  color: #000000;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .newproduct-container__content__title {
    margin-top: 2rem;
  }
}
.newproduct-container__content__description {
  color: #000000;
  padding: 2rem;
  font-size: 1rem;
  line-height: 2rem;
}

.promos {
  background-color: #e2a694;
}

.section-offers {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: space-around;
}

.gallery {
  background-color: #e2a694;
}
.gallery__wrapper {
  margin: 0 auto;
  padding: 100px 0;
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "img-1 img-2 img-2" "img-3 img-4 img-5" "img-3 img-6 img-7" "img-8 img-8 img-9";
}
@media screen and (max-width: 1024px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img-1 img-9" "img-2 img-2" "img-3 img-4" "img-3 img-5" "img-6 img-7" "img-8 img-8";
  }
}
@media screen and (max-width: 768px) {
  .gallery__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "img-1" "img-2" "img-3" "img-4" "img-5" "img-6" "img-7" "img-8" "img-9";
  }
}
.gallery__wrapper__img-div:nth-child(1) {
  grid-area: img-1;
}
.gallery__wrapper__img-div:nth-child(2) {
  grid-area: img-2;
}
.gallery__wrapper__img-div:nth-child(3) {
  grid-area: img-3;
}
.gallery__wrapper__img-div:nth-child(4) {
  grid-area: img-4;
}
.gallery__wrapper__img-div:nth-child(5) {
  grid-area: img-5;
}
.gallery__wrapper__img-div:nth-child(6) {
  grid-area: img-6;
}
.gallery__wrapper__img-div:nth-child(7) {
  grid-area: img-7;
}
.gallery__wrapper__img-div:nth-child(8) {
  grid-area: img-8;
}
.gallery__wrapper__img-div:nth-child(9) {
  grid-area: img-9;
}
.gallery__wrapper__img-div img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-container {
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.title-container__title {
  width: fit-content;
  font-size: 15rem;
}
@media screen and (max-width: 768px) {
  .title-container__title {
    font-size: 10rem;
  }
}
@media screen and (max-width: 478px) {
  .title-container__title {
    font-size: 5rem;
  }
}

.products-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  justify-content: space-around;
}

.container-title__title {
  padding: 25px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
}

.container-about {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .container-about {
    flex-direction: column;
  }
}
.container-about__container-img {
  width: 40%;
  margin: 25px 0;
}
@media screen and (max-width: 1024px) {
  .container-about__container-img {
    width: 100%;
  }
}
.container-about__container-img img {
  border-radius: 50%;
}
.container-about__container-description {
  width: 60%;
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .container-about__container-description {
    width: 100%;
  }
}
.container-about__container-description p {
  font-size: 1rem;
  line-height: 2rem;
  width: 80%;
}

.find-us {
  display: flex;
  background-color: #e2a694;
}
@media screen and (max-width: 1024px) {
  .find-us {
    flex-direction: column;
  }
}
.find-us section {
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #ffffff;
  width: 33.3333333333%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .find-us section {
    width: 100%;
  }
}
.find-us section h2, .find-us section h3 {
  text-align: center;
}

.section-payments__logos {
  width: 100px;
}

.section-payments {
  align-items: center;
}
.section-payments__img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.section-location {
  align-items: center;
}
.section-location iframe {
  width: 100%;
  border-radius: 10px;
  margin: 25px 0;
}
@media screen and (max-width: 1024px) {
  .section-location iframe {
    width: 90%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 478px) {
  .section-location iframe {
    width: 100%;
  }
}

.location-img {
  width: 100%;
}

.payments-img {
  width: 100%;
}

.logo-mastercard {
  width: 100px;
}

.logo-visa {
  width: 100px;
}

.logo-mercadopago {
  width: 100px;
}

.columna-1, .columna-2, .columna-3 {
  background-color: rgba(0, 0, 0, 0.631372549);
}

.findus-titles {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}

.payments-subtitles {
  padding: 25px 0px;
  color: #ffffff;
  font-weight: 700;
}

.findus-text {
  color: #ffffff;
  padding: 15px;
  line-height: 2rem;
}

.container-contact {
  padding: 100px 0;
}
@media screen and (max-width: 478px) {
  .container-contact {
    padding: 0;
  }
}
.container-contact__section {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px #000000;
  border-radius: 25px;
}
@media screen and (max-width: 1024px) {
  .container-contact__section {
    width: 80%;
    align-items: start;
    height: 100%;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section {
    width: 100%;
    border: none;
    border-radius: 0px;
  }
}
.container-contact__section__title {
  padding: 50px;
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .container-contact__section__title {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container-contact__section__title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__title {
    background-color: #000000;
    color: #ffffff;
  }
}
.container-contact__section__form {
  width: 90%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-areas: "name" "mail" "consult-type" "subscribe" "comments" "reset" "send";
  padding: 0 40px 40px 40px;
  font-weight: 700;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form {
    padding: 20px;
  }
}
.container-contact__section__form__form-name {
  grid-area: name;
}
.container-contact__section__form__form-name .form-input {
  width: 80%;
  padding: 12px 5px;
  border: none;
  border-bottom: solid 2px #000000;
  outline: none;
}
.container-contact__section__form__form-mail {
  grid-area: mail;
}
.container-contact__section__form__form-mail .form-input {
  width: 80%;
  padding: 12px 5px;
  border: none;
  border-bottom: solid 2px #000000;
  outline: none;
}
.container-contact__section__form__form-consult {
  grid-area: consult-type;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-contact__section__form__form-consult select {
  width: fit-content;
  padding: 5px;
}
.container-contact__section__form__form-checkbox {
  grid-area: subscribe;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .container-contact__section__form__form-checkbox {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .container-contact__section__form__form-checkbox {
    width: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-checkbox {
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__form-checkbox {
    margin-bottom: 20px;
  }
}
.container-contact__section__form__form-comments {
  grid-area: comments;
}
.container-contact__section__form__form-comments textarea {
  margin: 10px 0 10px 0;
  padding: 8px;
  width: 85%;
  resize: none;
}
@media screen and (max-width: 768px) {
  .container-contact__section__form__form-comments textarea {
    width: 60%;
  }
}
@media screen and (max-width: 478px) {
  .container-contact__section__form__form-comments textarea {
    width: 85%;
  }
}
.container-contact__section__form__reset-button {
  grid-area: reset;
  min-width: fit-content;
  background-color: #747272;
  color: #ffffff;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
.container-contact__section__form__reset-button:hover {
  background-color: #928f8f;
  cursor: pointer;
}
.container-contact__section__form__reset-button:active {
  transform: translate(0px, 4px);
}
@media screen and (max-width: 1024px) {
  .container-contact__section__form__reset-button {
    height: 40px;
    width: 200px;
    padding: 3px 12px;
  }
}
.container-contact__section__form__send-button {
  grid-area: send;
  background-color: #3a3a3a;
  color: #ffffff;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
.container-contact__section__form__send-button:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.container-contact__section__form__send-button:active {
  transform: translate(0px, 4px);
}
@media screen and (max-width: 1024px) {
  .container-contact__section__form__send-button {
    height: 40px;
    width: 120px;
    padding: 3px 8px;
  }
}

.faq-banner {
  background-color: rgba(0, 0, 0, 0.768627451);
}
.faq-banner__title {
  font-size: 5rem;
  color: #ffffff;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
.faq-container__faq-q {
  font-size: 1.2rem;
  font-weight: 700;
}
.faq-container__faq-a {
  width: 90%;
  line-height: 2rem;
}
.faq-container__faq-ul {
  list-style-type: square;
}
.faq-container__faq-ul li {
  width: 80%;
  line-height: 2rem;
}

/* Index - CTA Button*/
.shop-btn {
  display: inline-block;
  width: fit-content;
  margin: 50px auto;
  font-size: 1.2rem;
  text-decoration: none;
  border: 5px solid #971154;
  text-align: center;
  color: #ffffff;
  background-color: #741745;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 3px 3px #30081c;
  transition: transform 0.2s, box-shadow 0.2s;
}
.shop-btn:hover {
  background-color: #e42585;
}
.shop-btn:active {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}
.shop-btn:visited {
  color: #ffffff;
}

/* Cards - Buy Button*/
.buy-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #3a3a3a;
  transition: all 200ms;
}
.buy-btn:hover {
  background-color: #161616;
}
.buy-btn:active {
  transform: translate(4px, 4px);
}

/* Cards - Products */
.product-card {
  background-color: rgba(255, 255, 255, 0.7803921569);
  padding: 1rem;
  max-width: 350px;
  max-height: 550px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}
.product-card:hover {
  box-shadow: 2px 2px 25px rgba(97, 96, 96, 0.8274509804);
  scale: 1.1;
}
.product-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}
.product-card__img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.product-card__description {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.product-card__btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #3a3a3a;
  transition: all 200ms;
}
.product-card__btn:hover {
  background-color: #161616;
}
.product-card__btn:active {
  transform: translate(4px, 4px);
}

.offer {
  position: relative;
}
.offer h4 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.768627451);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
